$redish: #de2f29;
$grayish: #635f5f;
$linkedin-clr: #0a66c2;
$github-clr: hsla(0, 0%, 100%, .7);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    font-family: "Sarala", sans-serif;
    position: relative;
}

.main-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px #ccc;
    a {
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0 10px;
        color: inherit;
        @media (max-width: 500px){
            font-size: 1.1rem;
            &::before {
                font-size: 1.1rem;
            }
        }
    }
    a:hover, 
    a:active {
        cursor: pointer;
        color: $redish;
    }
    a::before {
        font-size: 1.2rem;
        content: "\\ ";
        color: $redish;
    }
}

.intro {
    margin-top: 100px;
}

#about, 
#projects {
    padding-top: 40px;
}

.hero-header {
    font-size: 3rem;
    text-align: center;
    color: $redish;
    @media (max-width:750px){
        font-size: 2rem;
    }
    @media (max-width:500px){
        font-size: 1.7rem;
    }
}

.intro-card {
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 950px){
        display: initial;
    }
}

.intro-picture {
    background: url("../images/Dorin_David.jpg");
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 50%;
    background-position: left -60px;
    @media (max-width: 950px){
        margin: auto;
        margin-top: 1rem;
        width: 300px;
        height: 300px;
    }
    @media (max-width: 500px){
        width: 250px;
        height: 250px;
    }

}

.intro-description {
    margin-right: 50px;
    h1 {
        margin: 0;
        font-size: 2rem;
        color: $redish;
    }
    span {
        font-size: 1.3rem;
        font-weight: 400;
        color: #de302a;
        @media (max-width: 400px){
            display: block;
        }
    }
    p {
        font-size: 1.5rem;
        color: $redish;
    }
    hr {
        margin: 0;
        width: 390px;
        color: $redish;

    }

    @media (max-width: 950px){
        margin: initial;
        * {
            text-align: center;
        }
        hr {
            margin: 0 auto;
        }
    }

    @media (max-width:750px){
        h1 {
            font-size: 1.6rem;
        }
    }

    @media (max-width: 500px){
        hr {
            width: 200px;
        }
        h1 {
            font-size: 1.4rem;
        }
    }
}

.section-header {
    width: 400px;
    margin: 45px auto;
    padding: 5px;
    background: #121212;
    border-radius: 4px;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    @media (max-width: 700px) {
        width: 250px;
        font-size: 1.8rem;
    }
}

p {
    width: 80%;
    margin: 10px auto;
    font-size: 1.1rem;
    color: $grayish;
    line-height: 1.5;
    span {
        color: $redish;
    }
    @media (max-width: 700px) {
        width: 100%;
        font-size: 1.1rem;
        padding: 0 1rem;
    }
    @media (max-width: 500px) {
        width: 100%;
        font-size: 1rem;
    }

}

.projects-grid {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    @media (max-width: 1100px) {
        grid-template-columns: 1fr;  
    }
    @media (max-width: 700px) {
        grid-auto-rows: 200px; 
    }

    @media (max-width: 500px) {
        width: 100%;
    }
}

.string-of-world {
    background: #fff url("../images/string_of_world.PNG");
}

.chess-database {
    background: #fff url("../images/chess_database.PNG");
}

.blog {
    background: #fff url("../images/blog.PNG");
}

.book-shop {
    background: #fff url("../images/book_shop.PNG");
}

.js-quiz {
    background: #fff url("../images/javascript_quiz.PNG");
}

.codewars-database {
    background:  #fff url("../images/codewars_database.png");
}

.to-do-list {
    background: #fff url("../images/to_do_list.PNG");
}

.weather_app {
    background:  #fff url("../images/weather_app.PNG");
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid #ccc;
    transition: transform 0.4s ease-in;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
    .project-description {
        height: 50%;
    }
    @media (max-width: 700px) {
        .project-description {
            height: 80%;
        }
    }
    @media (max-width: 450px) {
        .project-description {
            height: 90%;
        }
    }
}

.active {
    cursor: pointer;
    transform: scale(1.1);
    .project-description {
        height: 50%;
    }
    @media (max-width: 700px) {
        .project-description {
            height: 80%;
        }
    }

    @media (max-width: 350px) {
        .project-description {
            height: 100%;
        }
    }
}

.project-description {
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    transition: height 0.3s 0.2s ease-in;
    h2 {
        text-align: center;
        letter-spacing: 1px;
        color: $redish;
    }
    @media (max-width: 750px) {
        h2 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1rem;
        }
    }
}

.project-description,
.open-source {
    a {
        display: inline-block;
        text-decoration: none;
        color: $redish;
        transition: text-decoration 0.2s ease-in;
    }
    a:hover {
        text-decoration: underline solid $redish;
    }
}

.open-source {
    a::after {
     content: '';
     background: transparent url('../icons/link.svg') 0 0 no-repeat;
     background-size: auto;
     background-size: 16px;
     display: inline-block;
     height: 16px;
     margin-left: 3px;
     width: 16px;

    }
}

footer {
    width: 100%;
    margin-top: 40px;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-icon {
        margin: 0 15px;
    }
}

.linkedin:hover svg {
   stroke: $linkedin-clr
}

.github:hover svg{
    stroke: $github-clr;
}

.email:hover svg{
    stroke: $redish;
}