@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #fcf7f7;
  position: relative;
}

.main-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 1px 2px #ccc;
}
.main-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  color: inherit;
}
.main-nav a:hover {
  cursor: pointer;
  color: #de2f29;
}
.main-nav a::before {
  font-size: 1.2rem;
  content: "\\ ";
  color: #de2f29;
}

.hero-header {
  font-size: 3rem;
  text-align: center;
  color: #de2f29;
}

.intro-card {
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.intro-card .intro-picture {
  background: url("C:UsersUserÞsktopPortfoliosrc\assetsimages\dorin_David.jpg");
  width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 50%;
  background-position: left -60px;
}
.intro-card .intro-description {
  margin-right: 50px;
}
.intro-card .intro-description h1 {
  margin: 0;
  color: #de2f29;
}
.intro-card .intro-description span {
  font-size: 1.5rem;
  color: #635f5f;
}
.intro-card .intro-description p {
  font-size: 1.5rem;
  color: #de2f29;
}
.intro-card .intro-description hr {
  margin: 0;
  width: 390px;
  color: #de2f29;
}

.section-header {
  width: 400px;
  margin: 45px auto;
  padding: 5px;
  background: #121212;
  border-radius: 4px;
  color: white;
  font-size: 2.4rem;
  text-align: center;
}

p {
  width: 80%;
  margin: 10px auto;
  font-size: 1.2rem;
  color: #635f5f;
  line-height: 1.5;
}
p span {
  color: #de2f29;
}

.skills {
  border-radius: 4px;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skills > li {
  list-style: none;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills > li i {
  font-size: 3rem;
  color: #de2f29;
  transition: transform 0.2s ease-in;
}
.skills > li p {
  width: initial;
  font-size: 1.6rem;
  margin: initial;
}
.skills > li i:hover {
  transform: scale(1.2);
}

.projects-grid {
  width: 80%;
  height: 700px;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "book-shop book-shop burger burger" "book-shop book-shop burger burger" "  to-do     to-do     .       ." "  to-do     to-do     .       .";
  gap: 15px;
  box-shadow: 0 1px 1px #ccc, 0 -1px 1px #ccc, -1px 0 1px #ccc, 1px 0 1px #ccc;
}
.projects-grid .book-shop {
  grid-area: book-shop;
  background: #fff url("../assets/images/book_shop.PNG");
}
.projects-grid .burger-builder {
  grid-area: burger;
  background: #fff url("../assets/images/burger_builder.PNG");
}
.projects-grid .to-do-list {
  grid-area: to-do;
  background: #fff url("../assets/images/to_do_list.PNG");
}
.projects-grid .book-shop,
.projects-grid .burger-builder,
.projects-grid .to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: transform 0.4s ease-in;
  box-shadow: 0 1px 1px #ccc, 0 -1px 1px #ccc, -1px 0 1px #ccc, 1px 0 1px #ccc;
}
.projects-grid .book-shop:hover,
.projects-grid .burger-builder:hover,
.projects-grid .to-do-list:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.projects-grid .book-shop:hover .project-description,
.projects-grid .burger-builder:hover .project-description,
.projects-grid .to-do-list:hover .project-description {
  height: 50%;
}

.project-description {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  transition: height 0.4s 0.2s ease-in;
}
.project-description h2 {
  text-align: center;
  letter-spacing: 1px;
  color: #de2f29;
}
.project-description a {
  display: inline-block;
  text-decoration: none;
  color: #de2f29;
  transition: text-decoration 0.2s ease-in;
}
.project-description a:hover {
  text-decoration: underline solid #de2f29;
}

footer {
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer i {
  margin: 0 15px;
  font-size: 1.5rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
