*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Sarala", sans-serif;
  position: relative;
}

.main-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px #ccc;
}
.main-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  color: inherit;
}
.main-nav a:hover,
.main-nav a:active {
  cursor: pointer;
  color: #de2f29;
}
.main-nav a::before {
  font-size: 1.2rem;
  content: "\\ ";
  color: #de2f29;
}

.intro {
  margin-top: 100px;
}

#about,
#projects {
  padding-top: 40px;
}

.hero-header {
  font-size: 3rem;
  text-align: center;
  color: #de2f29;
}
@media (max-width: 750px) {
  .hero-header {
    font-size: 2rem;
  }
}

.intro-card {
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 950px) {
  .intro-card {
    display: initial;
  }
}

.intro-picture {
  background: url("/images/Dorin_David.jpg");
  width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 50%;
  background-position: left -60px;
}
@media (max-width: 950px) {
  .intro-picture {
    margin: auto;
    margin-top: 1rem;
    width: 300px;
    height: 300px;
  }
}

.intro-description {
  margin-right: 50px;
}
.intro-description h1 {
  margin: 0;
  font-size: 2rem;
  color: #de2f29;
}
.intro-description span {
  font-size: 1.3rem;
  font-weight: 400;
  color: #de302a;
}
.intro-description p {
  font-size: 1.5rem;
  color: #de2f29;
}
.intro-description hr {
  margin: 0;
  width: 390px;
  color: #de2f29;
}
@media (max-width: 950px) {
  .intro-description {
    margin: initial;
  }
  .intro-description * {
    text-align: center;
  }
  .intro-description hr {
    margin: 0 auto;
  }
  .intro-description h1 {
    font-size: 1.6rem;
  }
}

.section-header {
  width: 400px;
  margin: 45px auto;
  padding: 5px;
  background: #121212;
  border-radius: 4px;
  color: white;
  font-size: 2.1rem;
  text-align: center;
}
@media (max-width: 700px) {
  .section-header {
    width: 250px;
    font-size: 1.8rem;
  }
}

p {
  width: 80%;
  margin: 10px auto;
  font-size: 1.2rem;
  color: #635f5f;
  line-height: 1.5;
}
p span {
  color: #de2f29;
}

.projects-grid {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  gap: 15px;
}
@media (max-width: 1100px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  .projects-grid {
    grid-auto-rows: 200px;
  }
}

.blog {
  background: #fff url("/images/blog.PNG");
}

.book-shop {
  background: #fff url("/images/book_shop.PNG");
}

.js-quiz {
  background: #fff url("/images/javascript_quiz.PNG");
}

.to-do-list {
  background: #fff url("/images/to_do_list.PNG");
}

.weather_app {
  background: #fff url("/images/weather_app.PNG");
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid #ccc;
  transition: transform 0.4s ease-in;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.project:hover .project-description {
  height: 50%;
}
@media (max-width: 700px) {
  .project:hover .project-description {
    height: 70%;
  }
}

.active {
  cursor: pointer;
  transform: scale(1.1);
}
.active .project-description {
  height: 50%;
}
@media (max-width: 700px) {
  .active .project-description {
    height: 70%;
  }
}

.project-description {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  transition: height 0.3s 0.2s ease-in;
}
.project-description h2 {
  text-align: center;
  letter-spacing: 1px;
  color: #de2f29;
}
.project-description a {
  display: inline-block;
  text-decoration: none;
  color: #de2f29;
  transition: text-decoration 0.2s ease-in;
}
.project-description a:hover {
  text-decoration: underline solid #de2f29;
}
@media (max-width: 750px) {
  .project-description h2 {
    font-size: 1.4rem;
  }
  .project-description p {
    font-size: 1rem;
  }
}

footer {
  width: 100%;
  margin-top: 40px;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact-icon {
  margin: 0 15px;
}

.linkedin:hover svg {
  stroke: #0a66c2;
}

.github:hover svg {
  stroke: rgba(255, 255, 255, 0.7);
}

.email:hover svg {
  stroke: #de2f29;
}

/*# sourceMappingURL=style.css.map */
