@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  position: relative;
  background: #262424;
}



.main-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #12111194;
}
.main-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  color: white;
}
@media (max-width: 500px) {
  .main-nav a {
    font-size: 1.1rem;
  }
  .main-nav a::before {
    font-size: 1.1rem;
  }
}
.main-nav a:hover,
.main-nav a:active {
  color: rgb(211, 211, 211);
}

.main-nav a::before {
  font-size: 1.3rem;
  font-weight: 800;
  content: "\\ ";
}

.main-nav a:nth-of-type(1)::before {
  color: #FF6700;
}
.main-nav a:nth-of-type(2)::before {
 color: #40A02C;
}

.main-nav a:nth-of-type(3)::before {
  color: #088A81;
}

.headers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wrapper {
  margin: .4rem 0;
  margin-left: 5rem;
}

.intro-header {
  font-size: 3rem;
  margin: 0;
  color: white;
}

.header-decoration {
  width: 100px;
  border: 4px solid;
}

.header-decoration#first{
  border-color: #FF6700;
}

.header-decoration#second{
  border-color: #40A02C;
}

.header-decoration#third{
  border-color: #088A81;
}

.intro {
  margin-top: 100px;
}

#about,
#projects {
  padding-top: 40px;
}

.section-header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

}

.section-header h1 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: white;
}

.section-header-decoration {
  width: 100%;
  display: flex;
}
 
 .section-header-decoration div {
   border: 3px solid;
   flex: 1 1;
 }
 
 .section-header-decoration div:nth-of-type(1){
  border-color: #FF6700;
 }
 
 .section-header-decoration div:nth-of-type(2){
  border-color: #40A02C;
 }
 
 .section-header-decoration div:nth-of-type(3){
  border-color: #088A81;
 }

p {
  width: 80%;
  margin: 10px auto;
  font-size: 1.1rem;
  color: #635f5f;
  line-height: 1.5;
}

@media (max-width: 700px) {
  p {
    width: 100%;
    font-size: 1.1rem;
    padding: 0 1rem;
  }
}
@media (max-width: 500px) {
  p {
    width: 100%;
    font-size: 1rem;
  }
}


.project-info a,
.open-source a {
  display: inline-block;
  text-decoration: none;
  /* color: #de2f29; */
  /*below style needs to be changed*/
  color: white;
  text-decoration: underline solid 2px #de2f29;
  /* transition: text-decoration 0.2s ease-in; */
}
/* .project-info a:hover,
.open-source a:hover {
  text-decoration: underline solid #de2f29;
} */

.open-source a::after {
  content: "";
  background: transparent url("../icons/link.svg") 0 0 no-repeat;
  background-size: auto;
  background-size: 16px;
  display: inline-block;
  height: 16px;
  margin-left: 3px;
  width: 16px;
}

footer {
  width: 100%;
  margin-top: 40px;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact-icon {
  margin: 0 15px;
}

.linkedin:hover svg {
  stroke: #0a66c2;
}

.github:hover svg {
  stroke: rgba(255, 255, 255, 0.7);
}

.email:hover svg {
  stroke: #de2f29;
}

